/*
 * Code Title
 */
.remark-code-title {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 1.5em 1.125em 0.5em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background: #1e1e1e;
  color: #6a9955;
  font-size: 0.875em;
  line-height: 0.25;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::before {
    display: inline-block;
    content: '// ';
    width: 1.75em;
  }
}

/*
 * Autolink Headings
 */
.remark-autolink-headings {
  margin-left: -24px;
  padding-right: 6px;
  width: 24px;
  height: 18px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' version='1.1' width='20' height='20' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;

  &:hover {
    visibility: visible;
  }
}

article {
  h1,
  h2,
  h3,
  h4 {
    &:hover {
      a {
        .remark-autolink-headings {
          visibility: visible;
        }
      }
    }
  }
}

/*
 * Highlight line 
 */
.remark-highlight-code-line {
  background-color: rgba(156, 220, 254, 0.125);
  display: block;
  margin-right: -1.125em;
  margin-left: -1.125em;
  padding-right: 1.125em;
  padding-left: 1.125em;
  // border-left: 0.25em solid rgb(79, 209, 197, 0.75);
}

.remark-highlight {
  background-color: #1e1e1e;
  border-radius: 0.25em;
  margin-bottom: 2em;
  padding: 1em;
  overflow: auto;
  max-width: calc(100vw - 2em);

  & pre[class*='language-'] {
    // background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left;
    min-width: 100%;

    &.line-numbers {
      padding-left: 2.75em;
    }
  }

  .remark-code-title + & {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* 
 * Custom Blocks
 */
.details {
  margin-bottom: 1.75em;
  border: 1px solid #e2e8f0;
  border-radius: 0.5em;
  padding: 1em;

  & ol:last-child,
  & ul:last-child,
  & p:last-child {
    margin-bottom: 0;
  }

  & summary {
    border-radius: 0.5em 0.5em 0 0;
    font-size: 1em;
    font-weight: bold;
  }

  & div {
    margin-top: 1em;
  }
}

.exercise,
.practice {
  border: 1px solid #e2e8f0;
  border-radius: 0.5em;
  margin-bottom: 1.75em;

  .custom-block-heading {
    padding: 0.5em 1em;
    border-radius: 0.5em 0.5em 0 0;
    font-size: 1em;
    font-weight: bold;
  }

  .custom-block-body {
    border-radius: 0 0 0.5em 0.5em;
    padding: 1em;
    font-size: 1em;

    & ol:last-child,
    & ul:last-child,
    & p:last-child {
      margin-bottom: 0;
    }
  }
}

.exercise {
  border-color: #81e6d9;

  .custom-block-heading {
    background-color: #e6fffa;
  }
}

.practice {
  border-color: #feb2b2;

  .custom-block-heading {
    background-color: #fed7d7;
  }
}
