$mq-xl: 80em;
$mq-lg: 62em;
$mq-md: 48em;
$mq-sm: 30em;

@mixin mq-md {
  @media screen and (min-width: $mq-md) {
    @content;
  }
}

@mixin mq-sm {
  @media screen and (min-width: $mq-sm) {
    @content;
  }
}

.article {
  position: relative;
  max-width: calc(100vw - 2em);
  font-size: 14px;
  line-height: 2;

  @include mq-md() {
    font-size: 16px;
  }

  & p,
  & div {
    margin: 0 0 1.75em;
    padding: 0;
  }

  & h1,
  & h2,
  & h3 {
    border: 0;
    font-weight: bold;
    word-break: break-word;
  }

  & h1 {
    position: relative;
    margin: 6em 0 1.5em;
    padding: 0;
    font-size: 1.375em;
    line-height: 1.25;

    @include mq-md() {
      margin: 6em 0 1.75em;
      font-size: 1.75em;
    }

    &:before {
      content: '.　.　.';
      position: absolute;
      top: -4em;
      width: 100%;
      font-size: 1em;
      text-align: center;
      color: #666;
    }
  }

  & h2 {
    margin: 2em 0 1em;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.25;

    @include mq-md() {
      margin: 2.5em 0 1.25em;
      font-size: 1.5em;
    }
  }

  & h3 {
    margin: 2em 0 0.5em;
    padding: 0;
    font-size: 1.125em;

    @include mq-md() {
      margin: 2.5em 0 0.75em;
      font-size: 1.25em;
    }
  }

  & p[class='contentful-paragraph'] {
    white-space: pre-wrap;
  }

  & p[class='contentful-paragraph'] > code {
    display: block;
    background-color: #f2f2f2;
    white-space: pre-wrap;
  }

  & :not(pre) > code[class*='language-'] {
    background-color: #f2f2f2;
  }

  & blockquote {
    border-left: 4px solid rgba(26, 32, 44, 0.5);
    color: rgba(26, 32, 44, 0.75);
    margin: 0 0 1.75em;
    padding: 0 0 0 calc(0.875em - 1px);
  }

  & ul,
  & ol {
    margin-bottom: 1.75em;
  }

  & li {
    margin-left: 1.5em;
    line-height: 2;

    & > p,
    & > ul {
      margin: 0;
    }
  }

  & strong {
    font-weight: bold;
  }

  & a {
    text-decoration: underline;
    color: #285e61;
    word-break: break-all;

    &:hover {
      color: #4fd1c5;
    }
  }

  & table {
    width: 100%;
    margin: 0 0 1.75em;
    border: 0;
    padding: 0;
    font-size: 0.875em;
    line-height: 1.5;
  }

  & th,
  & td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }

  & th {
    font-weight: bold;
    font-size: 0.75em;
    background-color: #f7fafc;
  }

  & pre {
    font-size: 0.875em;
  }

  & > p code,
  & li code {
    padding: 0.25em 0.5em;
    background-color: #edf2f7;
    word-break: break-all;
  }

  & details {
    margin-bottom: 1.75em;
    border: 1px solid #e2e8f0;
    border-radius: 0.5em;
    padding: 1em;

    & ol:last-child,
    & ul:last-child,
    & p:last-child {
      margin-bottom: 0;
    }

    & summary {
      border-radius: 0.5em 0.5em 0 0;
      font-size: 1em;
      font-weight: bold;
    }
  }
}
